@tailwind base;

@layer base {
    :root {
        --background: var(--white);
        --background-hover: rgba(141, 141, 141, 0.14);
        --background-active: rgba(141, 141, 141, 0.52);
        --background-selected: rgba(141, 141, 141, 0.2);
        --background-selected-hover: rgba(141, 141, 141, 0.34);
        --background-inverse: var(--gray-80);
        --background-inverse-hover: var(--hover-gray-80);
        --background-brand: var(--black);
        --background-brand-hover: var(--hover-black);

        --layer-01: var(--gray-10);
        --layer-02: var(--white);
        --layer-01-hover: var(--hover-gray-10);
        --layer-02-hover: var(--hover-white-10);
        --layer-01-active: var(--gray-30);
        --layer-02-active: var(--gray-20);
        --layer-01-selected: var(--gray-50);
        --layer-02-selected: var(--gray-40);
        --layer-01-selected-hover: var(--hover-gray-50);
        --layer-02-selected-hover: var(--hover-gray-40);
        --layer-selected-inverse: var(--gray-100);
        --layer-selected-disabled: var(--gray-30);
        --layer-transparent: var(--white);

        --field-01: var(--gray-10);
        --field-02: var(--white);
        --field-01-hover: var(--hover-gray-10);
        --field-02-hover: var(--hover-white);
        --field-inverse: var(--gray-90);

        --button-primary: var(--black);
        --button-primary-hover: var(--hover-black);
        --button-primary-active: var(--gray-100);
        --button-secondary: var(--gray-70);
        --button-secondary-hover: var(--hover-gray-70);
        --button-secondary-active: var(--gray-50);
        --button-border: var(--gray-20);
        --button-border-hover: var(--hover-gray-20);
        --button-border-active: var(--gray-70);
        --button-danger: var(--red-60);
        --button-danger-hover: var(--hover-red-60);
        --button-danger-active: var(--red-80);
        --button-disabled: var(--gray-30);

        --border-subtle-01: var(--gray-30);
        --border-subtle-02: var(--gray-20);
        --border-subtle-selected-01: var(--gray-40);
        --border-subtle-selected-02: var(--gray-30);
        --border-strong-01: var(--gray-50);
        --border-strong-02: var(--gray-40);
        --border-strong-selected-01: var(--gray-90);
        --border-strong-selected-02: var(--gray-80);
        --border-error: var(--red-60);
        --border-tile-01: var(--gray-30);
        --border-tile-02: var(--gray-40);
        --border-inverse: var(--gray-100);
        --border-disabled: var(--gray-30);
        --border-interactive: var(--black);
        --border-transparent: rgba(255, 255, 255, 0);

        --text-primary: var(--gray-100);
        --text-secondary: var(--gray-70);
        --text-placeholder: var(--gray-40);
        --text-on-color: var(--white);
        --text-on-color-hover: var(--hover-white);
        --text-on-color-active: var(--gray-30);
        --text-on-color-disabled: var(--gray-50);
        --text-helper: var(--gray-60);
        --text-error: var(--red-60);
        --text-error-hover: var(--hover-red-60);
        --text-error-active: var(--red-80);
        --text-inverse: var(--white);
        --text-disabled: rgba(22, 22, 22, 0.25);

        --link: var(--blue-60);
        --link-hover: var(--blue-70);
        --link-active: var(--blue-80);
        --link-inverse: var(--blue-40);
        --link-visited: var(--purple-50);

        --icon-primary: var(--gray-90);
        --icon-secondary: var(--gray-60);
        --icon-disabled: rgba(22, 22, 22, 0.25);
        --icon-on-color: var(--white);
        --icon-on-color-disabled: rgba(19, 19, 19, 0.25);
        --icon-interactive: var(--black);
        --icon-inverse: var(--white);
        --icon-error: var(--red-60);

        --support-error: var(--red-60);
        --support-success: var(--green-50);
        --support-warning: var(--yellow-30);
        --support-info: var(--blue-70);
        --support-error-inverse: var(--red-50);
        --support-success-inverse: var(--green-40);
        --support-warning-inverse: var(--yellow-30);
        --support-info-inverse: var(--blue-50);

        --tag-background-disabled-gray: var(--gray-10);
        --tag-background-black: var(--black);
        --tag-border-black: var(--gray-70);
        --tag-color-black: var(--white);
        --tag-hover-black: var(--hover-black);
        --tag-icon-black: var(--white);
        --tag-background-gray: var(--gray-20);
        --tag-border-gray: var(--gray-40);
        --tag-color-gray: var(--gray-70);
        --tag-hover-gray: var(--hover-gray-20);
        --tag-icon-gray: var(--gray-70);
        --tag-background-red: var(--red-20);
        --tag-border-red: var(--red-40);
        --tag-color-red: var(--red-70);
        --tag-hover-red: var(--hover-red-20);
        --tag-icon-red: var(--red-70);
        --tag-background-orange: var(--orange-20);
        --tag-border-orange: var(--orange-40);
        --tag-color-orange: var(--orange-70);
        --tag-hover-orange: var(--hover-orange-20);
        --tag-icon-orange: var(--orange-70);
        --tag-background-yellow: var(--yellow-20);
        --tag-border-yellow: var(--yellow-40);
        --tag-color-yellow: var(--yellow-70);
        --tag-hover-yellow: var(--hover-yellow-20);
        --tag-icon-yellow: var(--yellow-70);
        --tag-background-green: var(--green-20);
        --tag-border-green: var(--green-40);
        --tag-color-green: var(--green-70);
        --tag-hover-green: var(--hover-green-20);
        --tag-icon-green: var(--green-70);
        --tag-background-blue: var(--blue-20);
        --tag-border-blue: var(--blue-40);
        --tag-color-blue: var(--blue-70);
        --tag-hover-blue: var(--hover-blue-20);
        --tag-icon-blue: var(--blue-70);
        --tag-background-cyan: var(--cyan-20);
        --tag-border-cyan: var(--cyan-40);
        --tag-color-cyan: var(--cyan-70);
        --tag-hover-cyan: var(--hover-cyan-20);
        --tag-icon-cyan: var(--cyan-70);
        --tag-background-magenta: var(--magenta-20);
        --tag-border-magenta: var(--magenta-40);
        --tag-color-magenta: var(--magenta-70);
        --tag-hover-magenta: var(--hover-magenta-20);
        --tag-icon-magenta: var(--magenta-70);
        --tag-background-purple: var(--purple-20);
        --tag-border-purple: var(--purple-40);
        --tag-color-purple: var(--purple-70);
        --tag-hover-purple: var(--hover-purple-20);
        --tag-icon-purple: var(--purple-70);
        --tag-background-teal: var(--teal-20);
        --tag-border-teal: var(--teal-40);
        --tag-color-teal: var(--teal-70);
        --tag-hover-teal: var(--hover-teal-20);
        --tag-icon-teal: var(--teal-70);
        --tag-background-outline: var(--white);
        --tag-color-outline: var(--gray-100);
        --tag-border-outline: var(--gray-100);
        --tag-hover-outline: rgba(141, 141, 141, 0.14);
        --tag-icon-outline: var(--gray-90);

        --focus: var(--black);
        --focus-inverse: var(--white);

        --interactive: var(--black);
        --overlay: rgba(22, 22, 22, 0.5);
        --skeleton-container: var(--gray-20);
        --skeleton-element: var(--gray-30);
    }
    html[theme='Gray10'] {
        --background: var(--gray-10);
        --background-hover: rgba(141, 141, 141, 0.14);
        --background-active: rgba(141, 141, 141, 0.52);
        --background-selected: rgba(141, 141, 141, 0.2);
        --background-selected-hover: rgba(141, 141, 141, 0.34);
        --background-inverse: var(--gray-80);
        --background-inverse-hover: var(--hover-gray-80);
        --background-brand: var(--black);
        --background-brand-hover: var(--hover-black);

        --layer-01: var(--white);
        --layer-02: var(--gray-10);
        --layer-01-hover: var(--hover-white);
        --layer-02-hover: var(--hover-gray-10);
        --layer-01-active: var(--gray-40);
        --layer-02-active: var(--gray-30);
        --layer-01-selected: var(--gray-60);
        --layer-02-selected: var(--gray-20);
        --layer-01-selected-hover: var(--hover-gray-60);
        --layer-02-selected-hover: var(--hover-gray-30);
        --layer-selected-inverse: var(--gray-100);
        --layer-selected-disabled: var(--gray-40);
        --layer-transparent: rgba(255, 255, 255, 0);

        --field-01: var(--white);
        --field-02: var(--gray-10);
        --field-01-hover: var(--hover-white);
        --field-02-hover: var(--hover-gray-10);
        --field-inverse: var(--black);

        --button-primary: var(--black);
        --button-primary-hover: var(--hover-black);
        --button-primary-active: var(--gray-100);
        --button-secondary: var(--gray-70);
        --button-secondary-hover: var(--hover-gray-70);
        --button-secondary-active: var(--gray-50);
        --button-border: var(--gray-20);
        --button-border-hover: var(--hover-gray-20);
        --button-border-active: var(--gray-70);
        --button-danger: var(--red-60);
        --button-danger-hover: var(--hover-red-60);
        --button-danger-active: var(--red-80);
        --button-disabled: var(--gray-30);

        --border-subtle-01: var(--gray-20);
        --border-subtle-02: var(--gray-30);
        --border-subtle-selected-01: var(--gray-30);
        --border-subtle-selected-02: var(--gray-40);
        --border-strong-01: var(--gray-50);
        --border-strong-02: var(--gray-40);
        --border-strong-selected-01: var(--gray-90);
        --border-strong-selected-02: var(--gray-80);
        --border-error: var(--red-60);
        --border-tile-01: var(--gray-40);
        --border-tile-02: var(--gray-30);
        --border-inverse: var(--gray-100);
        --border-disabled: var(--gray-30);
        --border-interactive: var(--black);
        --border-transparent: rgba(255, 255, 255, 0);

        --text-primary: var(--gray-100);
        --text-secondary: var(--gray-70);
        --text-placeholder: var(--gray-40);
        --text-on-color: var(--white);
        --text-on-color-hover: var(--hover-white);
        --text-on-color-active: var(--gray-30);
        --text-on-color-disabled: var(--gray-50);
        --text-helper: var(--gray-60);
        --text-error: var(--red-60);
        --text-error-hover: var(--hover-red-60);
        --text-error-active: var(--red-80);
        --text-inverse: var(--white);
        --text-disabled: rgba(22, 22, 22, 0.25);

        --link: var(--blue-60);
        --link-hover: var(--blue-70);
        --link-active: var(--blue-80);
        --link-inverse: var(--blue-40);
        --link-visited: var(--purple-50);

        --icon-primary: var(--gray-90);
        --icon-secondary: var(--gray-60);
        --icon-disabled: rgba(22, 22, 22, 0.25);
        --icon-on-color: var(--white);
        --icon-on-color-disabled: rgba(19, 19, 19, 0.25);
        --icon-interactive: var(--black);
        --icon-inverse: var(--white);
        --icon-error: var(--red-60);

        --support-error: var(--red-60);
        --support-success: var(--green-50);
        --support-warning: var(--yellow-30);
        --support-info: var(--blue-70);
        --support-error-inverse: var(--red-50);
        --support-success-inverse: var(--green-40);
        --support-warning-inverse: var(--yellow-30);
        --support-info-inverse: var(--blue-50);

        --tag-background-disabled-gray: var(--white);
        --tag-background-black: var(--black);
        --tag-border-black: var(--gray-70);
        --tag-color-black: var(--white);
        --tag-hover-black: var(--hover-black);
        --tag-icon-black: var(--white);
        --tag-background-gray: var(--gray-20);
        --tag-border-gray: var(--gray-40);
        --tag-color-gray: var(--gray-70);
        --tag-hover-gray: var(--hover-gray-20);
        --tag-icon-gray: var(--gray-70);
        --tag-background-red: var(--red-20);
        --tag-border-red: var(--red-40);
        --tag-color-red: var(--red-70);
        --tag-hover-red: var(--hover-red-20);
        --tag-icon-red: var(--red-70);
        --tag-background-orange: var(--orange-20);
        --tag-border-orange: var(--orange-40);
        --tag-color-orange: var(--orange-70);
        --tag-hover-orange: var(--hover-orange-20);
        --tag-icon-orange: var(--orange-70);
        --tag-background-yellow: var(--yellow-20);
        --tag-border-yellow: var(--yellow-40);
        --tag-color-yellow: var(--yellow-70);
        --tag-hover-yellow: var(--hover-yellow-20);
        --tag-icon-yellow: var(--yellow-70);
        --tag-background-green: var(--green-20);
        --tag-border-green: var(--green-40);
        --tag-color-green: var(--green-70);
        --tag-hover-green: var(--hover-green-20);
        --tag-icon-green: var(--green-70);
        --tag-background-blue: var(--blue-20);
        --tag-border-blue: var(--blue-40);
        --tag-color-blue: var(--blue-70);
        --tag-hover-blue: var(--hover-blue-20);
        --tag-icon-blue: var(--blue-70);
        --tag-background-cyan: var(--cyan-20);
        --tag-border-cyan: var(--cyan-40);
        --tag-color-cyan: var(--cyan-70);
        --tag-hover-cyan: var(--hover-cyan-20);
        --tag-icon-cyan: var(--cyan-70);
        --tag-background-magenta: var(--magenta-20);
        --tag-border-magenta: var(--magenta-40);
        --tag-color-magenta: var(--magenta-70);
        --tag-hover-magenta: var(--hover-magenta-20);
        --tag-icon-magenta: var(--magenta-70);
        --tag-background-purple: var(--purple-20);
        --tag-border-purple: var(--purple-40);
        --tag-color-purple: var(--purple-70);
        --tag-hover-purple: var(--hover-purple-20);
        --tag-icon-purple: var(--purple-70);
        --tag-background-teal: var(--teal-20);
        --tag-border-teal: var(--teal-40);
        --tag-color-teal: var(--teal-70);
        --tag-hover-teal: var(--hover-teal-20);
        --tag-icon-teal: var(--teal-70);
        --tag-background-outline: var(--gray-10);
        --tag-color-outline: var(--gray-100);
        --tag-border-outline: var(--gray-100);
        --tag-hover-outline: rgba(141, 141, 141, 0.14);
        --tag-icon-outline: var(--gray-90);

        --focus: var(--black);
        --focus-inverse: var(--white);

        --interactive: var(--black);
        --overlay: rgba(22, 22, 22, 0.5);
        --skeleton-container: var(--gray-30);
        --skeleton-element: var(--gray-40);
    }
    html[theme='Gray90'] {
        --background: var(--gray-90);
        --background-hover: rgba(141, 141, 141, 0.18);
        --background-active: rgba(141, 141, 141, 0.42);
        --background-selected: rgba(141, 141, 141, 0.24);
        --background-selected-hover: rgba(141, 141, 141, 0.38);
        --background-inverse: var(--gray-10);
        --background-inverse-hover: var(--hover-gray-10);
        --background-brand: var(--white);
        --background-brand-hover: var(--hover-white);

        --layer-01: var(--gray-100);
        --layer-02: var(--gray-90);
        --layer-01-hover: var(--hover-gray-100);
        --layer-02-hover: var(--hover-gray-90);
        --layer-01-active: var(--gray-60);
        --layer-02-active: var(--gray-50);
        --layer-01-selected: var(--gray-40);
        --layer-02-selected: var(--gray-30);
        --layer-01-selected-hover: var(--hover-gray-40);
        --layer-02-selected-hover: var(--hover-gray-50);
        --layer-selected-inverse: var(--gray-10);
        --layer-selected-disabled: var(--gray-60);
        --layer-transparent: rgba(19, 19, 19, 0);

        --field-01: var(--gray-80);
        --field-02: var(--gray-70);
        --field-01-hover: var(--hover-gray-80);
        --field-02-hover: var(--hover-gray-70);
        --field-inverse: var(--gray-30);

        --button-primary: var(--gray-20);
        --button-primary-hover: var(--hover-gray-20);
        --button-primary-active: var(--gray-30);
        --button-secondary: var(--gray-50);
        --button-secondary-hover: var(--hover-gray-50);
        --button-secondary-active: var(--gray-60);
        --button-border: var(--gray-20);
        --button-border-hover: var(--hover-gray-20);
        --button-border-active: var(--gray-40);
        --button-danger: var(--red-30);
        --button-danger-hover: var(--hover-red-30);
        --button-danger-active: var(--red-50);
        --button-disabled: var(--gray-60);

        --border-subtle-01: var(--gray-70);
        --border-subtle-02: var(--gray-60);
        --border-subtle-selected-01: var(--gray-60);
        --border-subtle-selected-02: var(--gray-50);
        --border-strong-01: var(--gray-50);
        --border-strong-02: var(--gray-40);
        --border-strong-selected-01: var(--gray-30);
        --border-strong-selected-02: var(--gray-20);
        --border-error: var(--red-30);
        --border-tile-01: var(--gray-60);
        --border-tile-02: var(--gray-50);
        --border-inverse: var(--gray-10);
        --border-disabled: rgba(141, 141, 141, 0.5);
        --border-interactive: var(--white);
        --border-transparent: rgba(19, 19, 19, 0);

        --text-primary: var(--gray-10);
        --text-secondary: var(--gray-30);
        --text-placeholder: var(--gray-60);
        --text-on-color: var(--white);
        --text-on-color-hover: var(--hover-white);
        --text-on-color-active: var(--gray-30);
        --text-on-color-disabled: rgba(255, 255, 255, 0.25);
        --text-helper: var(--gray-50);
        --text-error: var(--red-30);
        --text-error-hover: var(--hover-red-30);
        --text-error-active: var(--red-50);
        --text-inverse: var(--gray-100);
        --text-disabled: rgba(244, 244, 244, 0.25);

        --link: var(--blue-40);
        --link-hover: var(--blue-30);
        --link-active: var(--blue-20);
        --link-inverse: var(--blue-60);
        --link-visited: var(--purple-40);

        --icon-primary: var(--gray-10);
        --icon-secondary: var(--gray-30);
        --icon-disabled: rgba(244, 244, 244, 0.25);
        --icon-on-color: var(--white);
        --icon-on-color-disabled: rgba(255, 255, 255, 0.25);
        --icon-interactive: var(--white);
        --icon-inverse: var(--gray-100);
        --icon-error: var(--red-30);

        --support-error: var(--red-50);
        --support-success: var(--green-40);
        --support-warning: var(--yellow-30);
        --support-info: var(--blue-50);
        --support-error-inverse: var(--red-60);
        --support-success-inverse: var(--green-50);
        --support-warning-inverse: var(--yellow-30);
        --support-info-inverse: var(--blue-70);

        --tag-background-disabled-gray: var(--gray-100);
        --tag-background-black: var(--white);
        --tag-border-black: var(--gray-40);
        --tag-color-black: var(--black);
        --tag-hover-black: var(--hover-white);
        --tag-icon-black: var(--gray-90);
        --tag-background-gray: var(--gray-70);
        --tag-border-gray: var(--gray-50);
        --tag-color-gray: var(--gray-20);
        --tag-hover-gray: var(--hover-gray-70);
        --tag-icon-gray: var(--gray-20);
        --tag-background-red: var(--red-70);
        --tag-border-red: var(--red-50);
        --tag-color-red: var(--red-20);
        --tag-hover-red: var(--hover-red-70);
        --tag-icon-red: var(--red-20);
        --tag-background-orange: var(--orange-70);
        --tag-border-orange: var(--orange-50);
        --tag-color-orange: var(--orange-20);
        --tag-hover-orange: var(--hover-orange-70);
        --tag-icon-orange: var(--orange-20);
        --tag-background-yellow: var(--yellow-70);
        --tag-border-yellow: var(--yellow-50);
        --tag-color-yellow: var(--yellow-20);
        --tag-hover-yellow: var(--hover-yellow-70);
        --tag-icon-yellow: var(--yellow-20);
        --tag-background-green: var(--green-70);
        --tag-border-green: var(--green-50);
        --tag-color-green: var(--green-20);
        --tag-hover-green: var(--hover-green-70);
        --tag-icon-green: var(--green-20);
        --tag-background-blue: var(--blue-70);
        --tag-border-blue: var(--blue-50);
        --tag-color-blue: var(--blue-20);
        --tag-hover-blue: var(--hover-blue-70);
        --tag-icon-blue: var(--blue-20);
        --tag-background-cyan: var(--cyan-70);
        --tag-border-cyan: var(--cyan-50);
        --tag-color-cyan: var(--cyan-20);
        --tag-hover-cyan: var(--hover-cyan-70);
        --tag-icon-cyan: var(--cyan-20);
        --tag-background-magenta: var(--magenta-70);
        --tag-border-magenta: var(--magenta-50);
        --tag-color-magenta: var(--magenta-20);
        --tag-hover-magenta: var(--hover-magenta-70);
        --tag-icon-magenta: var(--magenta-20);
        --tag-background-purple: var(--purple-70);
        --tag-border-purple: var(--purple-50);
        --tag-color-purple: var(--purple-20);
        --tag-hover-purple: var(--hover-purple-70);
        --tag-icon-purple: var(--purple-20);
        --tag-background-teal: var(--teal-70);
        --tag-border-teal: var(--teal-50);
        --tag-color-teal: var(--teal-20);
        --tag-hover-teal: var(--hover-teal-70);
        --tag-icon-teal: var(--teal-20);
        --tag-background-outline: var(--black);
        --tag-color-outline: var(--gray-20);
        --tag-border-outline: var(--gray-10);
        --tag-hover-outline: rgba(141, 141, 141, 0.18);
        --tag-icon-outline: var(--gray-10);

        --focus: var(--white);
        --focus-inverse: var(--black);

        --interactive: var(--white);
        --overlay: rgba(22, 22, 22, 0.7);
        --skeleton-container: var(--gray-70);
        --skeleton-element: var(--gray-60);
    }
    html[theme='Gray100'] {
        --background: var(--gray-100);
        --background-hover: rgba(141, 141, 141, 0.18);
        --background-active: rgba(141, 141, 141, 0.42);
        --background-selected: rgba(38, 38, 38, 0.24);
        --background-selected-hover: rgba(141, 141, 141, 0.38);
        --background-inverse: var(--gray-10);
        --background-inverse-hover: var(--hover-gray-10);
        --background-brand: var(--white);
        --background-brand-hover: var(--hover-white);

        --layer-01: var(--gray-90);
        --layer-02: var(--gray-100);
        --layer-01-hover: var(--hover-gray-90);
        --layer-02-hover: var(--hover-gray-100);
        --layer-01-active: var(--gray-70);
        --layer-02-active: var(--gray-60);
        --layer-01-selected: var(--gray-50);
        --layer-02-selected: var(--gray-40);
        --layer-01-selected-hover: var(--hover-gray-50);
        --layer-02-selected-hover: var(--hover-gray-60);
        --layer-selected-inverse: var(--gray-10);
        --layer-selected-disabled: var(--gray-60);
        --layer-transparent: rgba(19, 19, 19, 0);

        --field-01: var(--gray-90);
        --field-02: var(--gray-80);
        --field-01-hover: var(--hover-gray-90);
        --field-02-hover: var(--hover-gray-80);
        --field-inverse: var(--gray-20);

        --button-primary: var(--gray-20);
        --button-primary-hover: var(--hover-gray-20);
        --button-primary-active: var(--gray-30);
        --button-secondary: var(--gray-50);
        --button-secondary-hover: var(--hover-gray-50);
        --button-secondary-active: var(--gray-60);
        --button-border: var(--gray-20);
        --button-border-hover: var(--hover-gray-20);
        --button-border-active: var(--gray-40);
        --button-danger: var(--red-40);
        --button-danger-hover: var(--hover-red-40);
        --button-danger-active: var(--red-60);
        --button-disabled: var(--gray-60);

        --border-subtle-01: var(--gray-80);
        --border-subtle-02: var(--gray-70);
        --border-subtle-selected-01: var(--gray-70);
        --border-subtle-selected-02: var(--gray-60);
        --border-strong-01: var(--gray-60);
        --border-strong-02: var(--gray-50);
        --border-strong-selected-01: var(--gray-40);
        --border-strong-selected-02: var(--gray-30);
        --border-error: var(--red-40);
        --border-tile-01: var(--gray-70);
        --border-tile-02: var(--gray-60);
        --border-inverse: var(--gray-10);
        --border-disabled: rgba(141, 141, 141, 0.5);
        --border-interactive: var(--white);
        --border-transparent: rgba(19, 19, 19, 0);

        --text-primary: var(--gray-10);
        --text-secondary: var(--gray-30);
        --text-placeholder: var(--gray-60);
        --text-on-color: var(--white);
        --text-on-color-hover: var(--hover-white);
        --text-on-color-active: var(--gray-30);
        --text-on-color-disabled: rgba(255, 255, 255, 0.25);
        --text-helper: var(--gray-50);
        --text-error: var(--red-40);
        --text-error-hover: var(--hover-red-40);
        --text-error-active: var(--red-60);
        --text-inverse: var(--gray-100);
        --text-disabled: rgba(244, 244, 244, 0.25);

        --link: var(--blue-40);
        --link-hover: var(--blue-30);
        --link-active: var(--blue-20);
        --link-inverse: var(--blue-60);
        --link-visited: var(--purple-40);

        --icon-primary: var(--gray-10);
        --icon-secondary: var(--gray-30);
        --icon-disabled: rgba(244, 244, 244, 0.25);
        --icon-on-color: var(--white);
        --icon-on-color-disabled: rgba(255, 255, 255, 0.25);
        --icon-interactive: var(--white);
        --icon-inverse: var(--gray-100);
        --icon-error: var(--red-40);

        --support-error: var(--red-50);
        --support-success: var(--green-40);
        --support-warning: var(--yellow-30);
        --support-info: var(--blue-50);
        --support-error-inverse: var(--red-60);
        --support-success-inverse: var(--green-50);
        --support-warning-inverse: var(--yellow-30);
        --support-info-inverse: var(--blue-70);

        --tag-background-disabled-gray: var(--gray-90);
        --tag-background-black: var(--white);
        --tag-border-black: var(--gray-40);
        --tag-color-black: var(--black);
        --tag-hover-black: var(--hover-white);
        --tag-icon-black: var(--gray-90);
        --tag-background-gray: var(--gray-70);
        --tag-border-gray: var(--gray-50);
        --tag-color-gray: var(--gray-20);
        --tag-hover-gray: var(--hover-gray-70);
        --tag-icon-gray: var(--gray-20);
        --tag-background-red: var(--red-70);
        --tag-border-red: var(--red-50);
        --tag-color-red: var(--red-20);
        --tag-hover-red: var(--hover-red-70);
        --tag-icon-red: var(--red-20);
        --tag-background-orange: var(--orange-70);
        --tag-border-orange: var(--orange-50);
        --tag-color-orange: var(--orange-20);
        --tag-hover-orange: var(--hover-orange-70);
        --tag-icon-orange: var(--orange-20);
        --tag-background-yellow: var(--yellow-70);
        --tag-border-yellow: var(--yellow-50);
        --tag-color-yellow: var(--yellow-20);
        --tag-hover-yellow: var(--hover-yellow-70);
        --tag-icon-yellow: var(--yellow-20);
        --tag-background-green: var(--green-70);
        --tag-border-green: var(--green-50);
        --tag-color-green: var(--green-20);
        --tag-hover-green: var(--hover-green-70);
        --tag-icon-green: var(--green-20);
        --tag-background-blue: var(--blue-70);
        --tag-border-blue: var(--blue-50);
        --tag-color-blue: var(--blue-20);
        --tag-hover-blue: var(--hover-blue-70);
        --tag-icon-blue: var(--blue-20);
        --tag-background-cyan: var(--cyan-70);
        --tag-border-cyan: var(--cyan-50);
        --tag-color-cyan: var(--cyan-20);
        --tag-hover-cyan: var(--hover-cyan-70);
        --tag-icon-cyan: var(--cyan-20);
        --tag-background-magenta: var(--magenta-70);
        --tag-border-magenta: var(--magenta-50);
        --tag-color-magenta: var(--magenta-20);
        --tag-hover-magenta: var(--hover-magenta-70);
        --tag-icon-magenta: var(--magenta-20);
        --tag-background-purple: var(--purple-70);
        --tag-border-purple: var(--purple-50);
        --tag-color-purple: var(--purple-20);
        --tag-hover-purple: var(--hover-purple-70);
        --tag-icon-purple: var(--purple-20);
        --tag-background-teal: var(--teal-70);
        --tag-border-teal: var(--teal-50);
        --tag-color-teal: var(--teal-20);
        --tag-hover-teal: var(--hover-teal-70);
        --tag-icon-teal: var(--teal-20);
        --tag-background-outline: var(--black);
        --tag-color-outline: var(--gray-20);
        --tag-border-outline: var(--gray-10);
        --tag-hover-outline: rgba(141, 141, 141, 0.18);
        --tag-icon-outline: var(--gray-10);

        --focus: var(--white);
        --focus-inverse: var(--black);

        --interactive: var(--white);
        --overlay: rgba(22, 22, 22, 0.7);
        --skeleton-container: var(--gray-80);
        --skeleton-element: var(--gray-70);
    }
}
